:root {
    --lg-breakpoint: 900px;
}

tr:hover {
    background: #eee;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.row > * {
    margin: 4px;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

.action {
    display: inline-block;
    padding: 1px 6px;
    margin: 1px;
}
