@font-face {
    font-family: IBM;
    src: url('../font/PxPlus_IBM_CGA.ttf');
}

tr:hover {
    background: #eee;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.row > * {
    margin: 4px;
}

table {
    width: 100%;
}

td {
    text-align: center;
}
