:root {
    --lg-breakpoint: 900px;
}

tr:hover {
    background: #eee;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.row > * {
    margin: 4px;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

.action {
    display: inline-block;
    padding: 1px 6px;
    margin: 1px;
}

#modal-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.modal {
    display: flex;
    flex-flow: column nowrap;

    background: white;
    border-radius: 5px;

    width: 80%;
    margin: 32px auto;
    padding: 16px 32px;
}

.modal > * {
    margin-top: 8px;
}

input.error {
    border-color: red;
}

input ~ .error-text, select ~ .error-text {
    display: none;
}

input.error ~ .error-text, select.error ~ .error-text {
    display: inline;
}

.error-text {
    color: red;
}

/* workaround for marx css's strange behaviour */
input:focus:invalid {
    color: black;
}
